@tailwind base;

@tailwind components;

@tailwind utilities;

@import "_fonts.css";

html, body {
    direction: rtl;
    font-family: IRANSans;
}

.highlight-province {
    cursor: pointer;
    fill: red;
}

.iran-map path:hover {
    @apply .highlight-province;
}